.Dictionary h1{
font-size: 20px;
font-weight: bold;
margin-bottom: 18px;
color: #333;
}

.Dictionary section{
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    margin: 20px 0;
}

.Dictionary input{
    width: 100%;
    border-radius: 6px;
    padding: 8px 12px;
    color: #444;
    border: 1px solid #ddd ;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.Dictionary input:focus{
    border-color: #5c6bc0;
    outline: none;
}

.Dictionary .Hint{
    color: #777;
    font-size: 0.9rem;
    margin-top: 5px;
}